

<ion-content style="    --background: #fff url('../../../assets/img/laguna-barca-centrado.png') no-repeat center center / cover;">
  <div class="welcome-text">
    <p class="t1">¡Bienvenido!</p>
    <p class="t2">SACA TU LADO MAS CREATIVO</p>
  </div>
  

  <div class="container">
    <div class="buttons-container">
      <ion-button mode="ios" fill="outline" color="light" class="button" shape="round" vertical="bottom" horizontal="start" (click)="exitApp()">Salir</ion-button>
      <ion-button mode="ios" class="button" color="medium" shape="round" vertical="bottom" horizontal="end" (click)="goToPage('welcome2')">Siguiente</ion-button>
    </div>
  </div>
</ion-content>
