// General view variables
$form-height: 250px;

$input-horizontal-margin: 10vw;

$error-font-size: 13px;

ion-content {
    --padding-bottom: 0 !important;
}

ion-content {
    min-height: 100vh;
    text-align: center;

    .registerLogo {
        min-height: 400px;
        height: auto;
        box-shadow: none !important;
    }

    > form {
        width: 90%;
        height: $form-height;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        > ion-row {
            height: 33%;
        }
    }
}

.registerPhoneInput {
    margin-left: $input-horizontal-margin;
    margin-right: $input-horizontal-margin;
    border-radius: 20px;
    --border-radius: 20px;
    --border-width: 2px;
    --highlight-height: 2px;
}

.form-error {
    font-size: $error-font-size;
    padding-top: $error-font-size * 0.5;
    padding-left: $input-horizontal-margin + 4.5vw;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 13px;
}

.yaTienesCuenta {
    color: #333;
    text-decoration: none;
    font-size: 13px;
}

.sendSMSButton {
    --background: var(--ion-color-tertiary-shade);
    --color: var(--ion-color-tertiary);
    --border-color: var(--ion-color-tertiary-shade);
    --border-radius: 20px;
    --border-width: 1px;
}

#register-button {
    display: none !important;
}