<ion-content color="light">
  <ion-card
    class="registerLogo"
    style="--background: url('../../../../assets/Archivos/imagotipo version vertical/logoRes1.png') no-repeat top center / contain">
  </ion-card> 
  <div class="space"></div>
  <form [formGroup]="forgotPassForm">
    <ion-row class="input">
      <ion-col class="ion-no-padding">
      <ion-item color="light" class="registerPhoneInput- ion-no-padding">
      <ion-label position="floating">{{ "AUTH.FORGOT.number" | translate }}</ion-label>
      <ion-input formControlName="phone" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-text *ngIf="formError" color="danger" class="form-error">
          {{formErrorMessage}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button class="sendSMSButton-" mode="ios" mode="ios" color="dark" expand="block"
         (click)="sendConfirmationSMS()">{{ "AUTH.FORGOT.send" | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <!-- <p> -->
          <a routerLink="/login">{{ "AUTH.FORGOT.already" | translate }}</a>
        <!-- </p> -->
      </ion-col>
    </ion-row>
  </form>
  <!-- Empty container for the Recaptcha verifier -->
  <ion-card-content id="register-button">
  </ion-card-content>
</ion-content>