<ion-content style="    --background: #fff url('../../../assets/img/mujer-flores.png') no-repeat center center / cover;">
  
  <p class="title Signerica">Express yourself</p>

  <div class="loginButtons">
    <ion-button mode="ios" color="medium" class="button" shape="round" (click)="goToPage('login')">Conéctate con email</ion-button>
    <ion-button mode="ios" fill="outline" color="light" class="button" shape="round" (click)="goToPage('login')">Conéctate con Google</ion-button>
  </div>

  <p class="noAccountText">¿No tienes una cuenta? <a class="link" href="register">Regístrate</a>.</p>
</ion-content>