<ion-content color="light">
  <ion-card
  class="registerLogo"
  style="--background: url('../../../../assets/Archivos/imagotipo version vertical/logoRes1.png') no-repeat top center / contain">
</ion-card> 
<div class="space"></div>
  <form [formGroup]="smsVerificationForm">
    <div></div>
    <ion-item color="light" class="registerPhoneInput- ion-no-padding">
      <ion-label position="floating">{{"AUTH.SMS.intro_code" | translate}}</ion-label>
      <ion-input formControlName="code" type="number" max-length=6></ion-input>
    </ion-item>
    <ion-item color="light" class="registerPhoneInput- ion-no-padding">
      <ion-label position="floating">{{"AUTH.SMS.intro_pass" | translate}}</ion-label>
      <ion-input formControlName="password" type="password" ></ion-input>
    </ion-item>
    <ion-text #formError color="tertiary">
      {{formErrorMessage}}
    </ion-text>
    <ion-row #sendButton class="sendButton">
      <ion-col class="ion-no-padding">
        <ion-button mode="ios" mode="ios" color="dark" expand="block" (click)="verifyCode()" type="submit">
          {{"AUTH.SMS.send" | translate}}
        </ion-button>
        <!-- <ion-button class="sendSMSButton" mode="ios" fill="outline"
        shape="round" vertical="bottom" horizontal="end" (click)="verifyCode()">{{"AUTH.SMS.send_2" | translate}}</ion-button> -->
      </ion-col>
    </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <!-- <p> -->
        <a routerLink="/login">{{"AUTH.SMS.login" | translate}}</a>
      <!-- </p> -->
    </ion-col>
  </ion-row>
</ion-content>