<ion-content color="light">

    <div class="header">
    
    <ion-row style="width: 100%;">
      <ion-col size="8">
        <div style="position: relative; height: 100.781px; overflow: hidden; margin-top: -52px;">
          <h3 class="user-name">{{nombreUser}}</h3>
        </div>

        <small class="arrobauser">@{{misticId}}</small>
      </ion-col>
      <ion-col size="4">
        <div class="user-profile-img">
          <img *ngIf="!avatar" src="assets/img/ProfileUser.png">
          <img *ngIf="avatar" [src]="avatar">
        </div>
      </ion-col>
    </ion-row>

  </div>

  <br>

  <!-- <ion-card
    class="registerLogo"
    style="--background: url('../../../../assets/Archivos/imagotipo version vertical/logoRes1.png') no-repeat top center / contain">
  </ion-card>  -->
  <form [formGroup]="fillDataForm">
    <ion-icon name="chevron-back-outline" routerLink="/tabs/options"></ion-icon>
  <!-- <ion-text>Cambio de contraseña</ion-text> -->
    
    <ion-item class="input- ion-no-padding">
      <ion-label position="floating">{{"EDIT_USER_PASSWORD.old_password" | translate}}</ion-label>
      <ion-input formControlName="password1" type="password"></ion-input>
    </ion-item>

    
    <ion-item class="input- ion-no-padding">
      <ion-label position="floating">{{"EDIT_USER_PASSWORD.new_password" | translate}}</ion-label>
      <ion-input formControlName="password2" type="password"></ion-input>
    </ion-item>

    <ion-item class="input- ion-no-padding">
      <ion-label position="floating">{{"EDIT_USER_PASSWORD.confirm_password" | translate}}</ion-label>
      <ion-input formControlName="password3" type="password"></ion-input>
    </ion-item>
    
    <ion-text *ngIf="formError" color="danger" class="formError">
      {{formErrorMessage}}
    </ion-text>
    
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-button (click)="changePassword()" type="submit" mode="ios" color="dark" expand="block">
          {{"EDIT_USER_PASSWORD.change" | translate}}
        </ion-button>
        
        <!-- <ion-button routerLink="/tabs/options"  mode="ios" fill="outline" color="secondary"
        shape="round">
          Cancelar
        </ion-button> -->
      </ion-col>
    </ion-row>
  </form>
</ion-content>
