ion-content {

    > form {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;

        min-height: 400px;
        text-align: center;
        padding: 0px 10vw;

        > ion-text {
            min-height: 10%;
            padding-top: 3vh;
        
            font-weight: 600;
            font-size: 5vh;
        }

        > .input {
            font-weight: 600;
            
            --background: var(--ion-color-tertiary);
            --border-width: 2px;
            --border-color: var(--ion-color-tertiary-shade);
            border-radius: 20px;
            --border-radius: 20px;
            --highlight-height: 2px;

            > ion-label {
                color: var(--ion-color-tertiary-contrast);
            }

            > ion-input {
                color: var(--ion-color-tertiary-contrast);
            }
        }

        .formError {
            --background: #0008;
            border-radius: 20px;
            font-size: 13px;
        }
    }
}

// Select colors
ion-select::part(text), ion-input {
    color: #333;
    font-size: 14px;
}

ion-select::part(icon), ion-input {
    color: #333;
    font-size: 14px;
}

[name="chevron-forward-outline"], [name="chevron-back-outline"] {
    font-size: 28px;
    color: #7b5d98;
}

.header {
    padding: 2em; 
    padding-top: 3em; 
    padding-bottom: 0.7em; 
    background-color: #FFF;
    // --background: #FFF;
    background-image: url(../../../assets/falla.jpg);
    background-size: cover;
    background-position: center;
    min-height: 130px;
    color: white;
}

.user-name{
  color: #fff !important;
  font-weight: bolder;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0.6em;
}

.arrobauser {
  color: var(--ion-color-light);
  color: rgba(255,255,255,.5);
  margin-bottom: 2em;
  display: block;
}

.user-profile-img{
  width: 50px; 
  height: 50px; 
  border-radius: 50px;
  overflow: hidden;
  // border: 2px solid  var(--ion-color-tertiary-contrast);
  margin: 0 auto;
  margin-bottom: 38px;
  // margin-right: 12px;
  position: relative;
  top: -4px;
}

ion-item {
    width: 100%;
}